<div id="Logo" style="text-align:center">
	<h1>Air Base</h1>
<p>By signing up, you will gain access to the site along with all it's privileges</p>
</div>
<div class="row" style="text-align:center">
	<%= form_for('/signup)', method: :post) do %>
		<div class="form-group">
			<p>Please enter your name: <%= text_field_tag :name %></p>
		</div>
		<div class="form-group">
			<p>Please enter your email: <%= text_field_tag :email %></p>
		</div>
		<div class="form-group">
			<p>Please select a password: <%= password_field_tag :password %></p>
		</div>
			<%= submit_tag "SignUp" %>
	<% end %>
</div>
<div class="container-fluid">
<div class="row">
	<div class="col-md-2 col-md-offset-2">
<%= image_tag("AirsoftGI_Logo_nt.jpg", class: 'img-responsive') %>
	</div>
	<div class="col-md-2 col-md-offset-1">
<%= image_tag("evike_Logo.jpg", class: 'img-responsive') %>
	</div>
	<div class="col-md-2 col-md-offset-1">
<%= image_tag("airsplat_Logo.jpg", class: 'img-responsive') %>
	</div>
</div>
</div>