<div id="Logo" style="text-align:center">
	<h1>Air Base</h1>
<p>By signing up, you will gain access to the site along with all it's privileges</p>
</div>
<div class="row" style="text-align:center">
<%= form_for :user, url: '/users' do |f| %>

  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>
</div>
<br>
<div class="container-fluid">
<div class="row">
	<div class="col-md-2 col-md-offset-2">
<%= image_tag("AirsoftGI_Logo_nt.jpg", class: 'img-responsive') %>
	</div>
	<div class="col-md-2 col-md-offset-1">
<%= image_tag("evike_Logo.jpg", class: 'img-responsive') %>
	</div>
	<div class="col-md-2 col-md-offset-1">
<%= image_tag("airsplat_Logo.jpg", class: 'img-responsive') %>
	</div>
</div>
</div>