<div class="row" style="text-align:center">

<h1>Sign Up</h1>

<%= form_for User.new, url: '/users' do |f| %>

	
 		<p>Name:</p><%= f.text_field :name %>
 		<br>
 		<p>Email:</p><%= f.text_field :email %>
 		<br>
 		<p>Password:</p><%= f.password_field :password %>
 		<br>
 		<p>Password Confirmation:</p> <%= f.password_field :password_confirmation %>
 		<br>
 		<br>
 <%= f.submit 'Submit' %>

 </div>
<% end %>
